<header class="banner block__skewed__right">
    <section class="container">
        <div class="grid grid__two__cols">

            <header class="bloc__heading">
                <h1 class="banner_heading">Orion Salon Bote</h1>

                <div class="glass">
                    <p class="banner_tagline">Bel Manmi Jere Bel Ou</p>
                </div>

                <button class="btn btn__small">Rantre Pou We</button>
            </header>

            <div class="block__content">
                <img class="banner_block_image" src="images/banner_content_img.png" alt="">
            </div>

        </div>
    </section>
</header>