<section class="footer footer__skin">
    <div class="container">
        <div class="grid grid__four__cols">
            <div class="brand_footer">
                <img class="nav_brand" src="images/brand.png" alt="">
                <p class="brand__name">Orion Salon</p>
            </div>

            <div class="footer_group collapsible">
                <h3 class="footer_heading">Produits</h3>
                <img class="nav_toggler collapsible__toggler" src="icons/menu.svg" alt="Toggler Menu Navigation">
                <ul class="list list__margin list__padding list__footer collapsible__content">
                    <li class="list__li__footer">Kwafi</li>
                    <li class="list__li__footer">Ongleri</li>
                    <li class="list__li__footer">Make Up</li>
                </ul>
            </div>

            <div class="footer_group collapsible">
                <h3 class="footer_heading">Sevis</h3>
                <img class="nav_toggler collapsible__toggler" src="icons/menu.svg" alt="Toggler Menu Navigation">
                <ul class="list list__margin list__padding list__footer collapsible__content">
                    <li class="list__li__footer">Kwafi</li>
                    <li class="list__li__footer">Ongleri</li>
                    <li class="list__li__footer">Make Up</li>
                </ul>
            </div>

            <div class="footer_group collapsible">
                <h3 class="footer_heading">Kontak</h3>
                <img class="nav_toggler collapsible__toggler" src="icons/menu.svg" alt="Toggler Menu Navigation">
                <ul class="list list__margin list__padding list__footer collapsible__content">
                    <li class="list__li__footer">Kwafi</li>
                    <li class="list__li__footer">Ongleri</li>
                    <li class="list__li__footer">Make Up</li>
                </ul>
            </div>

        </div>
    </div>
</section>