<section class="kwaffi">
    <div class="container">
        <!-- <h2 class="kwaffi_heading">Lis Kwaffi Yo</h2> -->
        <div class="kwaffi_heading__img"><img src="images/kwafi_heding.png" alt=""></div>
        <div class="kwaffi_content grid grid__three__cols">
            <span class="badges badges__primary">Buttefly Locks</span>
            <span class="badges badges__primary">Buttefly Braids</span>
            <span class="badges badges__primary">Corn Rose</span>
            <span class="badges badges__primary">Invisible Locks</span>
            <span class="badges badges__primary">Micro Locks</span>
            <span class="badges badges__primary">Cock Crews</span>
            <span class="badges badges__primary">Twist</span>
            <span class="badges badges__primary">Vanilla</span>
            <span class="badges badges__primary">Nat Less</span>
            <span class="badges badges__primary">Cross Cruss</span>
            <span class="badges badges__primary">Rubber Bend</span>
            <span class="badges badges__primary">Box Braid</span>
        </div>
    </div>
</section>