<section class="panel block_skewed_left">
    <div class="container">
        <div class="panel_heading__img"><img src=" images/panel_zanmitay_heading.png" alt=""></div>
        <div class="grid grid__two__cols grid__three__cols__panel">
            <div class="block_heading">
                <img class="banner_block_image" src="images/banner_content_img.png" alt="">
            </div>

            <div class="block_content">
                <div class="media">
                    <div class="medi__icon">
                        <img class="medi__icon__img" src="icons/clock.svg" alt="">
                    </div>
                    <div class="medi__body">
                        <h3 class="media__body__title">Fritay</h3>
                        <p class="media__body__text">
                            Pendanw chita wap pran sevis ou ka tou komande yon bon fritay ,
                            bon ti banann, akra, patat, lam, vyann (fri, pika poyo, bouyi), taso, dend epi bon ti
                            sosis
                            pane. wap jwenn bon ti chips pou pase nan bouch ou.
                        </p>
                    </div>
                </div>

                <div class="media">
                    <div class="medi__icon">
                        <img class="medi__icon__img" src="icons/settings.svg" alt="">
                    </div>
                    <div class="medi__body">
                        <h3 class="media__body__title">Wifi</h3>
                        <p class="media__body__text">
                            wap jwenn bon jan entenet gratis,ki ka ale sou nenpot rezo, e ou kapab fe saw vle
                        </p>
                    </div>
                </div>

                <div class="media">
                    <div class="medi__icon">
                        <img class="medi__icon__img" src="icons/snap.svg" alt="">
                    </div>
                    <div class="medi__body">
                        <h3 class="media__body__title">Boisson</h3>
                        <p class="media__body__text">
                            wap jwenn bwason gazez, bwason alkolize, bon ji natirel, kelkeswa sa wap bezwen jis
                            mandel
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>