<section class="sevis">
    <div class="container">
        <h2 class="sevis_head">Lis Sevis Yo</h2>
        <div class="grid grid__three__cols grid__three__cols__sevis">

            <div class="card card__primary">
                <header class="sevis_header">
                    <h3 class="sevis_heading">Kwaffi</h3>
                    <span class="sevis_price">2,000 HTG</span>
                </header>

                <div class="sevis_body">
                    <ul class="list list__thick list__primary li">
                        <li class="list__li">Tout Tresse</li>
                        <li class="list__li">Tout Ponitaille</li>
                        <li class="list__li">Tout Rading</li>
                        <li class="list__li">Tout Kwaffi Affricaine</li>
                    </ul>
                </div>

                <footer class="sevis_footer">
                    <button class="btn btn__primary btn__large">Komande Kounya</button>
                </footer>
            </div>

            <div class="card card__primary">
                <header class="sevis_header">
                    <h3 class="sevis_heading">Ongleri</h3>
                    <span class="sevis_price">1,000 HTG</span>
                </header>

                <div class="sevis_body">
                    <ul class="list list__thick list__primary li">
                        <li class="list__li">Tout Tresse</li>
                        <li class="list__li">Tout Ponitaille</li>
                        <li class="list__li">Tout Rading</li>
                        <li class="list__li">Tout Kwaffi Affricaine</li>
                    </ul>
                </div>

                <footer class="sevis_footer">
                    <button class="btn btn__primary btn__large">Komande Kounya</button>
                </footer>
            </div>

            <div class="card card__primary">
                <header class="sevis_header">
                    <h3 class="sevis_heading">Make Up</h3>
                    <span class="sevis_price">4,020 HTG</span>
                </header>

                <div class="sevis_body">
                    <ul class="list list__thick list__primary li">
                        <li class="list__li">Tout Tresse</li>
                        <li class="list__li">Tout Ponitaille</li>
                        <li class="list__li">Tout Rading</li>
                        <li class="list__li">Tout Kwaffi Affricaine</li>
                    </ul>
                </div>

                <footer class="sevis_footer">
                    <button class="btn btn__primary btn__large">Komande Kounya</button>
                </footer>
            </div>
        </div>
    </div>
</section>