/* ! SQUIREL FONT */

@font-face {
    font-family: 'famousregular';
    src: url('../fonts/famous-webfont.woff2') format('woff2'),
        url('../fonts/famous-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: fallback;
}


/* ! GENERAL PART */

*,
*::before,
*::after {
    box-sizing: border-box;
}


.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

/*  ! GLASS CLASS  */

.glass {
    background: rgba(255, 255, 255, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.glass:hover {
    transform: scale(1.15);
}

/* ! COLLAPSIBLE CLASS */

.collapsible__toggler {
    transform: rotate(-90deg);
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.collapsible__expanded .collapsible__toggler {
    transform: rotate(0);
}

.collapsible__expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
}


/* ! GRID CLASS */

.grid {
    display: grid;
    justify-items: center;
    align-items: center;
}

.grid__one__col {
    grid-template-columns: repeat(1, 1fr);
}

.grid__two__cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid__three__cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid__four__cols {
    grid-template-columns: repeat(4, 1fr);
}


/* ! SKEWED CLASS */

.block__skewed__right {
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    /* padding: 11rem 1rem; */
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.block_skewed_left {
    padding-bottom: calc(var(--padding-vertical)+ 4);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);


    background: black;
    background-attachment: fixed;
    background-size: cover;
    color: white;

    padding: 3rem 1rem 3rem 1rem;

    margin-top: 10rem;
}

/* ! BADGES CLASS */

.badges {
    display: block;
    border-radius: 20px;
    font-weight: 600;
    font-size: 2rem;
    padding: 0.5rem 1.5rem;
    white-space: nowrap;
    width: 100%;
    max-width: 200px;
    text-align: center;
    margin: 2rem 0;
}

.badges__primary {
    background: rgb(158, 4, 63);
    color: white;
}


/* ! LIST CLASS */

.list {
    list-style-type: none;
    padding-left: 3.5rem;
}

.list__padding {
    padding-left: 0;
}

.list__margin {
    margin-top: 0;
    margin-bottom: 0;
}

.list__thick {
    list-style-image: url(../icons/tick.svg);
}

.list__li {
    margin: 2rem 0;
    font-size: 2rem;
}

.list__primary li {
    color: rgb(158, 4, 63);
}

.list__secondary li {
    color: lightpink;
}


/* ! BUTTON CLASS */

.btn {
    font-size: 3rem;
    border-radius: 20px;
    padding: 2rem;
    border: 0;
    outline: 0;
    text-align: center;
}

.btn__primary {
    background: rgb(158, 4, 63);
    color: white;
}

.btn__secondary {
    background: lightpink;
    color: white;
}

.btn__large {
    width: 100%;
}

.btn__small {
    width: 70%;
    color: brown;
    font-weight: 600;
    font-family: 'famousregular';
    white-space: nowrap;
    margin-bottom: 1rem;
}


/* ! CARD CLASS */

.card {
    border-radius: 20px;
    overflow: hidden;
}

.card__primary {
    box-shadow: 0 0 5px 5px rgba(158, 4, 63, 0.4);
}

.card__secondary {
    box-shadow: 0 0 5px 5px rgba(255, 182, 193, 0.4);
}

/* ! MEDIA CLASS */

.media {
    margin-bottom: 3rem;
}

.medi__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: white;
    border-radius: 100%;
    margin-bottom: 0.5rem;
}

.medi__icon__img {
    width: 40px;
    height: 40px;
    fill: white;
}

.media__body__text {
    padding: 2rem;
}


/* ! TYPOGRAHY PART*/

html {
    font-size: 62.5%;
}

body {
    font-size: 1.8rem;
    margin: 0;
    background: burlywood;
}

h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2.4rem;
}

p {
    margin: 0;
}

@media screen and (max-width: 767px) {
    body {
        font-size: 2.4rem;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
        font-weight: 500;
    }
}

/* ! NAV PART */

.nav {
    background: rgb(158, 4, 63);
    /* background: rgb(42, 103, 233); */
}

.nav>section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav_brand {
    width: 8rem;
    height: 8rem;
}

.nav_toggler {
    width: 6rem;
    height: 6rem;
    display: none;
}

.nav_ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;

}

.nav__inline {
    display: flex;
    flex-direction: row;
    width: auto;
    max-height: 100%;
    opacity: 1;
}

.nav_li {
    margin: 0 2rem;
}

.nav_li_a {
    text-decoration: none;
    color: white;
    font-size: 2.5rem;
}

@media screen and (max-width: 767px) {
    .nav>section {
        flex-wrap: wrap;
        padding: 1rem;
    }

    .nav_toggler {
        display: block;
    }

    .nav__inline {
        display: block;
        width: 100%;
        max-height: 0;
        opacity: 0;
    }

    .nav_li {
        margin: 2rem 0;
    }

}

/* ! BANNER PART */

.banner {
    background: rgb(158, 4, 63);
}

.bloc__heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner_heading {
    color: white;
    font-family: 'famousregular';
    text-transform: uppercase;
    /* margin-bottom: 0.5rem; */
}

.banner_tagline {
    color: white;
    font-size: 4rem;
    font-family: 'famousregular';
    font-size: 5.5rem;
}

.banner_tagline::before {
    content: open-quote;
}

.banner_tagline::after {
    content: close-quote;
}

.block__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.banner_block_image {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .banner .container .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .banner {
        padding: 1rem 1rem 8rem 1rem;
    }

    .banner_heading {
        white-space: nowrap;
        font-size: 4rem;
    }

    .banner_tagline {
        white-space: nowrap;
        font-weight: 500;
        font-size: 3rem;
    }

    .glass {
        background: 0;
        border-radius: 0;
        box-shadow: 0;
        backdrop-filter: 0;
        -webkit-backdrop-filter: 0;
        border: 0;
        cursor: none;
        padding: 0;
    }

    .block__content {
        align-items: center;
    }

}

/* ! KWAFFI PART */

.kwaffi_heading {
    text-align: center;
    color: rgb(158, 4, 63);
    margin-top: 6rem;
    margin-bottom: 8rem;
}

.kwaffi_heading__img {
    display: flex;
    justify-content: center;
}

.kwaffi_heading__img>img {
    width: 50%;
}

.kwaffi_content {
    margin-top: 4rem;
}

@media screen and (max-width: 767px) {
    .grid__three__cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .badges {
        width: 100%;
        max-width: 145px;
        margin: 0.5rem 0;
        font-size: 1.5rem;
    }

    .kwaffi_content {
        margin-top: 1.5rem;
    }

    .kwaffi_heading {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    .kwaffi_heading__img>img {
        width: 70%;
    }
}


/* ! SEVIS PART */

.sevis_head {
    text-align: center;
    color: rgb(158, 4, 63);
    margin-top: 4rem;
    margin-bottom: 6rem;
    visibility: hidden;
}

.sevis_header {
    padding: 1rem;
}

.card__primary .sevis_header {
    background: rgb(158, 4, 63);
    width: 100%;
}

.card__secondary .sevis_header {
    background: lightpink;
    width: 100%;
}

.sevis_heading {
    color: white;
    font-size: 4rem;
}

.sevis_price {
    color: antiquewhite;
    font-size: 3rem;
}

@media screen and (max-width: 767px) {
    .grid__three__cols__sevis {
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        margin: 2rem 0;
    }

    .sevis_head {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}

/* ! PANEL PART */

.block_panel {
    background: black;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    padding: 2rem;
}

.panel_heading__img {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 6rem;
}

.panel_heading__img>img {
    width: 50%;
}

@media screen and (max-width: 767px) {
    .grid__three__cols__panel {
        grid-template-columns: repeat(1, 1fr);
    }

    .panel_heading__img {
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .panel_heading__img>img {
        width: 80%;
    }

    .media__body__text {
        padding: 0.5rem;
        font-size: 2rem;
        font-weight: 500;
    }

    .block_skewed_left {
        margin-top: 3rem;
        padding: 2rem 1rem 8rem 1rem;
    }
}

/* ! FOOTER PART */

#footer {
    margin-top: 15rem;
}

.footer__skin {
    background: black;
    padding: 8rem;
}

.brand_footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand__name {
    color: antiquewhite;
    font-size: 4rem;
}

.footer_heading {
    font-size: 4rem;
    color: antiquewhite;
}

.list__li__footer {
    font-size: 3rem;
    color: lightgrey;
}

.list__footer {
    width: auto;
    max-height: 100%;
    opacity: 1;
}

@media screen and (max-width: 767px) {
    .grid__four__cols {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer__skin {
        background: black;
        padding: 1rem;
    }

    .footer_group {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 2rem;
    }

    .list__footer {
        width: 100%;
        max-height: 0;
        opacity: 0;
    }

    .collapsible .list__footer .collapsible__content {
        display: block;
        width: auto;
        max-height: 0;
        opacity: 1
    }

    .collapsible__expanded .list__footer .collapsible__content {
        display: block;
        width: 100%;
        max-height: 100%;
        opacity: 1;
    }

    .brand_footer {
        margin-top: 2rem;
        order: 4;
    }

    .list__li__footer {
        font-size: 4rem;
    }

    #footer {
        margin-top: 7rem;
    }
}